.registrationTitle {
    margin-bottom: 20px;
}

.registrationContainer {
    position: relative;
    width: 100%;
    background-color: #b7b7b7;
    height: 100vh;
}

.loginBackground {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.registrationContainer:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(178, 178, 178, 0.43);
    background: -webkit-linear-gradient(bottom, rgb(82 75 75 / 62%), rgb(31 31 68 / 88%));
    opacity: 0.9;
    z-index: 2;
}

.loginFormContainer {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    max-width: 768px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    height: 100vh;
}

.wrapContent {
    background-color: #b8b5b5b3;
    padding: 26px;
    /*min-height: 330px;*/
    border-radius: 30px;
    text-align: center;
    min-height: fit-content;
}

.wrapInputs {
    display: grid;
}
.dataRegister:nth-child(1n){
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--gray-700);
    padding: 5px;
    transition: all .4s;
}
.dataRegister:nth-last-child(1){
 padding: 2px
}
.dataRegister:focus:nth-child(1n){
    border: 2px solid var(--gray-800);
}

.formImg {
    margin-left: 35px;
    width: 330px;
}

.formInputsWrap {
    display: grid;
}

.wrapSubmitRegistrationBtn {
    display: flex;
    justify-content: center;
}

.submitRegistrationBtn {
    padding: 6px;
    text-transform: uppercase;
    border-radius: 10px;
    min-width: 200px;
    outline: none;
    border: 1px solid var(--success-500);;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: var(--success-300);
    color: var(--white);
    margin: 10px 0 10px 0;
}

.submitRegistrationBtn:hover {
    background-color: var(--success-400);
}

.submitRegistrationBtn:disabled {
    background-color: #bbc6c2;
    cursor: no-drop;
}

.registerWrapSybTitleInp {
    background-color: var(--white);
}
.registerWrapSybTitleInp:focus {
    background-color: var(--gray-800);
}
.registerWrapSybTitleInp input[type=date] {
    border: transparent;
    padding: 3px;
}
.registerWrapSybTitleInp input[type=date]:focus {
    outline: none;
}
.registerSybTitle {
    padding-right: 10px;
    color: var(--gray-700);
}