.pagination {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    padding: 0;
    margin: 20px 10px 20px 0px;
}

.paginationItem{
    text-decoration: none;
    margin-right: 5px;
    padding: 0;

}
.paginationItem a:hover{
    background-color:var(--blue-200);
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid rgba(192, 191, 191, 0.51);
    cursor: pointer;
}

.paginationItemActive a{
    border: 1px solid rgba(192, 191, 191, 0.51);
    margin-right: 5px;
    background-color:var(--blue-500);
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
}

.paginationLink{
    font-size: 18px;
    border: 1px solid rgba(192, 191, 191, 0.51);
    color: var(--black);
    padding: 0px 13px 1px 13px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}