@import '../../../App.css';

.wrapTitleProject{
    margin-bottom: 25px;
}
.titleProject {
    margin: 0 auto;
    text-align: center;
}

.container {
    border-radius: 20px;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
}
.wrapParams {
    width: 80%;
    margin: 0 auto;
    padding: 7px;
    display: flex;
    background-color: #e1e1e1;
    align-items: center;
    box-shadow: 0px 0px 2px;
    border-radius: 5px;
}
.wrapParams:nth-child(1n) {
    margin-bottom: 10px;
}

.wrapParams:nth-child(2n) {
    background-color: #f6f6f6;
}

.titleParams {
    width: 40%;
    text-align: start;
    font-weight: bold;
}
.wrapInputParams{
    width: 60%;
}
.inpParams{
    min-width: 360px;
    background: transparent;
    outline: none;
    border: none;
}

.wrapButtons {
    display: flex;
    justify-content: end;
    margin: 20px 78px 15px 0;
}

.btnBack {
    width: 80px;
    font-weight: 600;
    background-color: var(--blue-600);
    border: 1px solid var(--blue-700);
    border-radius: 5px;
    color: var(--white);
    outline: none;
    text-transform: uppercase;
    padding: 5px;
    margin-right: 10px;
    transition: all 0.2s;
}
.btnBack:hover{
    background-color: var(--blue-700);
}
.btnSubmit{
    min-width: 110px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--success-200);
    border: 1px solid var(--success-300);
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    padding: 5px;
    transition: all 0.2s;
}
.btnSubmit:hover{
    background-color: var(--success-300);
}